albumentations==0.4.6
numpy==1.21.6
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
pandas==1.4.0
pillow==10.4.0
scikit-image==0.18.1
scikit-learn==1.1.0
scipy==1.11.1
stack-data==0.6.3
streamlit==1.30.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.66.5
zipp==3.19.2
